.login-btn {
  height: auto;
}
.maincontainer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  margin: 80px 0px;
}

.contactus-form {
  width: 45%;
  background-color: #d0e8ef;
  padding: 20px 40px;
  border-radius: 6px;
}
#contactus-form-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contactus-form-contents input,
button {
  height: 60px;
  margin: 10px 0px;
}
#contactus-form-btn {
  width: 100%;
}
.contactus-form-userinput::placeholder {
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  color: black;
  opacity: 0.9;
  padding: 10px;
}
.contactus-information {
  width: 45%;
  background-color: #d0e8ef;
  padding: 20px 40px;
  border-radius: 6px;
}
.contactus-information form,
h3,
img {
  width: 100%;
  margin: 12px 0px;
}
.query-solving-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.query-solving-form-content::placeholder {
  color: #193d87;
}
